@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	}

/* ページ全体 */
#pageAll {
	width: 980px;
	margin: 0 auto;
}

/* ページヘッダー */
 #pageHead img {
 	display: inline-block;
 	background-size: cover;
 	height: auto;
	padding: 0 -10px 50px 0;
	margin: 0 0 50px 0;
 }
 
#pageHead p {
	color: #999999;
	font-size: 12px;
	margin: 0 0 30px 0;
}

#pageHead p a {
	color: #999999;
	text-decoration: none;
}
 
/* タイトル 親要素を相対配置にする */
.mainTitle {
	position: relative;
	margin : 0 0 50px 0;
}

.mainTitle img {
	vertical-align: top;
}

/* mainTitleTextを絶対配置に指定 */
.mainTitle .mainTitleText{
	position: absolute;
	top: 20px;
	left: 50px; 
	color: #FFFFFF;
	padding: 0px 20px;

}

.mainTitle .mainTitleText p {
	font-size:14px;
	line-height: 1.4;
	margin: 0;
}

.mainTitle .mainTitleText  h1 {
	font-size:18px;	
	line-height: 1.3;
	margin-bottom: 0;
}

/* タイトルの画像 */
.h1whats2 img {
	width: 100%;
	height:auto;
	background-size: cover;
	color: #FFFFFF;
}

/* ソーシャルボタン -A*/
/* 親要素を相対配置に設定 */
.mainTitleBlock {
	position: relative;
}

.socialButton-A {
	font-size: 12px;
	color: #666666;
	display: flex;
	width: calc(20%);
	position: absolute;
	bottom: -50px;
	right: 60px;
}

.socialButton-A .icon-facebook,
.socialButton-A .icon-twitter,
.socialButton-A .icon-linkedin {
	padding:3px 3px 3px 15px;
	margin: 5px;
}


/* 本文のタイトル */
.heading-typeA {
	margin: 30px 150px;
}
.heading-typeA h2 {
	position:relative;
}

/* 青ボックスの位置調整 */
.images_bg img{
	max-width: 100%;
/* 	padding: 5px 20px 3px 20px; */
	position: absolute;
	bottom: 8px;
	left: -35px;
}

/* 本文のタイトルを相対配置に（親要素） */
.heading-typeA {
/* 	border: 1px solid red; */
	position: relative;
	font-size: 18px;
	line-height: 1.5;
	color: #333333;
	margin-bottom: 20px;
	padding: 0;
	margin:0 0 30px 100px ;
}

/* .heading-typeBの共通 */
.heading-typeB {
/* 	border:solid #FF00FF; */
	line-height: 1.88;
	text-align: center;
	width: 100%;
	height: auto;
}

/* .heading-typeB p 共通 */
.heading-typeB p{
	display: inline-block;
	text-align: left;
	padding: 0;
}

/* ↓↓↓↓↓↓↓なぜか反映されない↓↓↓↓↓↓↓↓↓ */
/* .heading-typeB .heading-typeB-1 */
.heading-typeB .heading-typeB-1 p {
	margin: 0;
}
/* .heading-typeB .heading-typeB-2 */
.heading-typeB .heading-typeB-2 p {
	margin: 16px 0 0 0;
}
/* ↑↑↑↑↑なぜか反映されない↑↑↑↑↑ */

/* スクショ_デジタルが拓く近未来(画像) */
.story06_img_02 {
	text-align: center;
	padding: 15px 30px;
	margin: 20px 0px 60px 0;
}

/* ビジネスモデルの特徴、人材が支えるNRI
Previous Page、Next Page */

.Previous-Next-Page ul li a:hover{
	text-decoration: underline;
}
.Previous-Next-Page .text-align-left ul li {
	list-style: none;
	list-style-image: url("../02_images/icon-chevronLeft.svg");
	list-style-position: inside;
	text-align: left;
}

.Previous-Next-Page .text-align-right ul li {
	list-style: none;
	list-style-position: inside;
/* 	list-style-image: url("../02_images/icon-chevronRight.svg"); */
	text-align: right;
}
.Previous-Next-Page ul li a {
	text-decoration: none;
	color: #0C419A;
	font-size: 16px;
}

/* 表 */
.TextTable {
	border: 1px solid #DEECF8;
	background-color: #DEECF8;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

/* 要素を横並びに、リストスタイルを画像（>）に変更 */
.TextTable p {
	font-weight: bold;
}

.TextTable .TextTable-A ul li {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding:15px  20px;
	margin-bottom: 40px;
	list-style: none;
	list-style-image: url("../02_images/icon-chevronRight.svg");
	list-style-position: inside;
}

/* マウスオーバーした時に下線を表示 */
.TextTable ul li a {
	text-decoration: none;
	color: #0C419A;
	font-size: 16px;
}

/* マウスオーバーした時に背景色を変える */
.TextTable .TextTable-A  ul li:hover{
	background-color: rgba(192,192,192,0.1);
	background-size:cover;	
}

.TextTable-1,
.TextTable-2,
.TextTable-3,
.TextTable-4,
.TextTable-5,
.TextTable-6 {
	float: left;
	padding: 10px;
	width: calc(25.5%);
	height: 55px;
}

.TextTable-A:after{
	content: "";
	clear: both;
	display: block;	
}

/* ソーシャルボタン-B */
/* 親要素を相対配置に設定 */
.TextTableBlock {
	position: relative;
	background-color: #33FFCC;
}

.socialButton-B {
/* 	background-color: skyblue; */
	font-size: 12px;
	color: #666666;
	display: flex;
	width: calc(20%);
	position: absolute;
	bottom: -90px;
	right: 60px;
}

.socialButton-B .icon-facebook,
.socialButton-B .icon-twitter,
.socialButton-B .icon-linkedin {
	padding:3px 3px 3px 15px;
	margin: 5px;
}



/* 企業情報リスト */
.heading-typeC {
	text-align: left;
	clear:both;
}

.heading-typeC h4 {
	border-top: 2px solid #333333;
	border-bottom: 1px dotted #999999;
	padding: 18px 0 30px 0;
	margin-top: 180px;
}

.heading-typeC ul {
	text-align: left;
	border-bottom: 1px dotted #999999;
}

/* floatして親要素の高さがなくなったので、clearfixで、高さを確保 */
.heading-typeC ul:after{
	content: "";
	clear: both;
	display: block;
}
.heading-typeC ul li {
	width: 220px;
	float: left;
	color: #0C419A;
	font-size: 14px;
	list-style: none;
	list-style-image: url("../02_images/icon-chevronRight.svg");
	box-sizing: border-box;
	padding: 10px;
}

.heading-typeC ul li a{ 
	color: #0C419A;
	text-decoration: none;
	padding: 0;
	line-height: 1.429;
}
/* リンクバック */
/* マウスオーバーした時に下線を表示 */
.link-back ul li a {
	text-decoration: none;
	font-size: 16px;
	color: #0C419A;
	padding-left: 10px;
}
.link-back ul li a:hover{
	text-decoration: underline;
}
.link-back ul li {
	list-style: none;
	list-style-image: url("../02_images/icon-chevronLeft.svg");
}

/* ソーシャルボタン-C (Follow Us)*/
.socialButton-C_linkback {
/* 	background-color: #33FFCC; */
	margin: 80px 0 30px 0;
}

.socialButton-C {
/* 	background-color: skyblue; */
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
	padding: 10px 0;
	margin: 80px 0 50px 0;
	text-align:center;
	max-width:100%;
	background-size: cover;
}

.socialButton-C p {
	color: #005BAC;
	font-size: 20px;
	font-weight: bold;
/* 	border: 1px solid red; */
	display: inline-block;
	margin-right: 10px;
}

.socialButton-C .icon-facebook, 
.socialButton-C .icon-twitter,
.socialButton-C .icon-linkedin {
		display: inline-block;
/* 		border: 1px solid red; */
		padding: 7px;
		margin: 10px;
/* 		vertical-align: center; */
}

/* ナレッジ・インサイト〜サイトマップ全体 */
.heading-typeD,
.heading-typeE,
.heading-typeF,
.heading-typeG,
.heading-typeH,
.heading-typeI,
.heading-typeJ,
.heading-typeK,
.heading-typeL,
.heading-typeM,
.heading-typeN,
.heading-typeO {
	width: calc(25%);
	height: auto;
	padding: 0px 10px;
	box-sizing: border-box;
}

/* line-heightの調整 */
.heading-typeD-2 ul li a,
.heading-typeE-2 ul li a,
.heading-typeF-2 ul li a,
.heading-typeG-2 ul li a,
.heading-typeH-2 ul li a,
.heading-typeI-2 ul li a {
 	line-height: 2.5
}


/* Flexboxを使い、レイアウトを横並びにする */
.heading-typeD-O {
	display: flex;
	flex-wrap: wrap;
}

/* マウスオーバーした時に下線を表示 */
.heading-typeD-O ul li:hover{
	text-decoration: underline;
}

/* 罫線を上下に設定 */
.heading-typeD-1,
.heading-typeE-1,
.heading-typeF-1,
.heading-typeG-1,
.heading-typeH-1,
.heading-typeI-1,
.heading-typeJ-1,
.heading-typeK-1,
.heading-typeL-1,
.heading-typeM-1,
.heading-typeN-1,
.heading-typeO-1 {
	color: #666666;
	font-weight: bold;
	font-size: 16px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}

.heading-typeD-1 ul li a,
.heading-typeE-1 ul li a,
.heading-typeF-1 ul li a,
.heading-typeG-1 ul li a,
.heading-typeH-1 ul li a,
.heading-typeI-1 ul li a,
.heading-typeJ-1 ul li a,
.heading-typeK-1 ul li a,
.heading-typeL-1 ul li a,
.heading-typeM-1 ul li a,
.heading-typeN-1 ul li a,
.heading-typeO-1 ul li a {
	padding: 12px 0;
	vertical-align: bottom;
}

/* リストスタイルを画像表示（>） */
.heading-typeD-O ul li {
	list-style: none;
	list-style-image: url("../02_images/icon-chevronRight.svg");
}

.heading-typeD-O ul li a{
	color: #999999;
	font-size: 14px;
	text-decoration: none;
}

/* ページフッター */
.pageFooter-typeA {
	padding: 60px 0 66px 0;
}

/* フッターのリスト */
.pageFooter-typeB ul li {
	font-size: 12px;
	color: #999999;
	list-style: none;
	width: calc(14.2%);
	float: left;
	border-right: 1px solid #999999;
	box-sizing: border-box;
	text-align: center;
	line-height: 1.5;
}

/* floatして親要素の高さがなくなったので、clearfixで、高さを確保 */
.pageFooter-typeB ul:after {
	content: "";
	clear: both;
	display: block;
}

/* リンク文字色を親要素に引き継ぎ、下線を消す */
.pageFooter-typeB ul li a{
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 0;
	margin: 0;
}

/* マウスオーバーした時に下線を表示 */
.pageFooter-typeB ul li a:hover{
	text-decoration: underline;
}

.pageFooter-typeB ul li:first-child {
	padding: 0 5px;
}

/* コピーライト */
#copyright small {
	font-size: 10px;
	color: #333333;
	line-height: 1.88;
	margin: 10px 10px 13px 0;
}

