@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
}

/* ページ全体 */
.page-all {
	margin: 0;
}

/* ページヘッダー (NRI画像)*/
#page-head .page-head__logo-nri {
	padding: 10px 0px 0px 55px;
}

/* ページヘッダー (アイコン３つ画像)*/
#page-head {
	position:relative;
}

#page-head .page-head__logo-common ul {
	display: flex;
	position: absolute;
	top:0px;
	right:0px;
	margin:0;
	padding:0;
}

#page-head .page-head__logo-common ul li{
	list-style: none;
}

#page-head .page-head__logo-common ul li .page-head__logo-common--search {
	background-image:url("../02_images/icon-search-35.jpg");
	background-repeat: no-repeat;
	height:35px;
	width: 35px;
	margin:10px 20px 0px 0px;
}

#page-head .page-head__logo-common ul li .page-head__logo-common--base {
	background-image:url("../02_images/icon-base-35.jpg");
	background-repeat: no-repeat;
	height:35px;
	width: 35px;
	margin:10px 10px 0px 15px;
}

#page-head .page-head__logo-common ul li .page-head__logo-common--menu {
	background-image:url("../02_images/icon-menu-60.jpg");
	background-repeat: no-repeat;
	height:60px;
	width: 60px;
	margin: 0px 0px 0px 26px;
}

 
#page-head .page-head__breadcrumb {
	color: #999999;
	font-size: 12px;
	margin: 70px 0px 30px 100px;
}

#page-head .page-head__breadcrumb a {
	color: #999999;
	text-decoration: none;
}
 
/* タイトル 親要素を相対配置にする */
#main-title .main-title__heading {
	position: relative;
	margin : 0 0 0 0;
}

#main-title .main-title__heading img {
	vertical-align: top;
}

/* main-title__heading--textを絶対配置に指定 */
#main-title .main-title__heading .main-title__heading--text{
	position: absolute;
	top: 20px;
	left: 50px; 
	color: #FFFFFF;
	padding: 0px 20px;
}

#main-title .main-title__heading .main-title__heading--text p {
	font-size:20px;
	line-height: 1.4;
	margin: 0 0 0 33px;
}

#main-title .main-title__heading .main-title__heading--text  h1 {
	font-size:28px;	
	line-height: 1.3;
	margin-bottom: 0;
	margin-left: 30px;
}

/* トップイメージ（ビルの画像） */
.top-image img{
	display: block;
	width: 100%;
	height: 250px;
}

/* figureクラスのmargin 「user agent stylesheet」のリセット */
figure {
	margin: 0;
}

/* ソーシャルボタン上部*/
/* 親要素を相対配置に設定 */
#main-title {
	position: relative;
}

#main-title .social-button-top {
	font-size: 12px;
	color: #666666;
	display: flex;
	width: calc(20%);
	position: absolute;
	top: 280px;
	right: 150px;
}

.social-button-top .icon-facebook,
.social-button-top .icon-twitter,
.social-button-top .icon-linkedin {
	padding:3px 3px 3px 15px;
	margin: 5px;
}

/* メインページの余白設定 */
#page-body-main {
	margin: 0 140px 60px 140px;
}

/* 本文のタイトル */
#page-body-main .page-body-main__heading {
	margin: 30px 150px;
}
#page-body-main .page-body-main__heading h2 {
	position:relative;
	padding-top: 60px;
	font-size: 22px;
}

/* 青ボックスの位置調整 */
.heading-blue-box img{
	max-width: 100%;
	position: absolute;
	bottom: 5px;
	left: -35px;
}

/* 本文のタイトルを相対配置に（親要素） */
#page-body-main .page-body-main__heading {
	position: relative;
	font-size: 18px;
	line-height: 1.5;
	color: #333333;
	margin-bottom: 20px;
	padding: 0;
	margin:0 0 30px 100px ;
}

#page-body-main .page-body-main__heading--text {
	line-height: 1.88;
	text-align: left;
	max-width: 100%;
	height: auto;
	margin-left: 67px;
}

#page-body-main .page-body-main__heading--text p{
	display: inline-block;
	text-align: left;
	padding: 0;
}

/* メイン画像 */
#page-body-main .page-body-main__heading--hero {
	text-align: center;
	padding: 15px 30px;
	margin: 20px 0px 60px 0;
}

/* ビジネスモデルの特徴、人材が支えるNRI
Previous Page、Next Page */
#page-body-main .page-body-main__linear-navigation {
	position: relative;
}
#page-body-main .page-body-main__linear-navigation ul li a {
	text-decoration: none;
	color: #0C419A;
	font-size: 16px;
}

#page-body-main .page-body-main__linear-navigation ul li a:hover{
	text-decoration: underline;
}

#page-body-main .page-body-main__linear-navigation .page-body-main__linear-navigation--next ul li {
	list-style: none;
	text-align: right;
	position: absolute;
	top: 0px;
	right:100px;
}

#page-body-main .page-body-main__linear-navigation .page-body-main__linear-navigation--previous ul {
	padding-left: 100px;
}

#page-body-main .page-body-main__linear-navigation .page-body-main__linear-navigation--previous ul li {
	list-style: none;
}

/* 擬似要素 afterを使い、”>”画像を表示する */
#page-body-main .page-body-main__linear-navigation .page-body-main__linear-navigation--next ul li a:after{
	content: "" ;
	display: inline-block;
	background-image: url("../02_images/icon-chevronRight.svg");
	background-size: contain;
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-left: 6px;	
}

/* 擬似要素 beforeを使い、”<”画像を表示する */
#page-body-main .page-body-main__linear-navigation .page-body-main__linear-navigation--previous ul li a:before{
	content: "" ;
	display: inline-block;
	background-image: url("../02_images/icon-chevronLeft.svg");
	background-size: contain;
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-left: 0;
}

/* 表 */
#page-body-main .page-body-main__list .page-body-main__list__common {
	border: 1px solid #DEECF8;
	background-color: #DEECF8;
	padding: 20px 20px 20px 30px;
	margin: 40px 100px 0 100px;
}

#page-body-main .page-body-main__list .page-body-main__list__common .page-body-main__list__common__title__text {
	display: inline-block;
	margin: 0 auto;
/* 	text-align: center; */
/* 	width: 760px;
	height: 160px; */
}

#page-body-main .page-body-main__list .page-body-main__list__common .page-body-main__list__common__title strong {
	font-weight: bold;
}

#page-body-main .page-body-main__list .page-body-main__list__common .page-body-main__list__common__title__text ul li {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	list-style: none;
}

/* マウスオーバーした時に下線を表示 */
#page-body-main .page-body-main__list .page-body-main__list__common .page-body-main__list__common__title__text ul li a {
	text-decoration: none;
	color: #0C419A;
	font-size: 16px;
}

/* マウスオーバーした時に背景色を変える */
#page-body-main .page-body-main__list .page-body-main__list__common .page-body-main__list__common__title__text ul li:hover{
	background-color: rgba(192,192,192,0.1);
	background-size:cover;	
}

/* 擬似要素 beforeを使い、”>”画像を表示する */
#page-body-main .page-body-main__list .page-body-main__list__common .page-body-main__list__common__title__text ul li a:before{
	content: "" ;
	display: inline-block;
	background-image: url("../02_images/icon-chevronRight.svg");
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	width: 10px;
	height: 10px;
}
.page-body-main__list__common__title__text .page-body-main__list__common__title__text-1 ul,
.page-body-main__list__common__title__text .page-body-main__list__common__title__text-2 ul {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

.page-body-main__list__common__title__text .page-body-main__list__common__title__text-1 ul li,
.page-body-main__list__common__title__text .page-body-main__list__common__title__text-2 ul li {
		display: inline-block;
		position: relative;
		text-align: center;
}

.page-body-main__list__common__title__text .page-body-main__list__common__title__text-1 ul li {
/* 	display: inline-block; */
	width: 242px;
	height: 70px;

}
.page-body-main__list__common__title__text .page-body-main__list__common__title__text-2 ul li {
	width: 242px;
	height: 60px;
}

.page-body-main__list__common__title__text .page-body-main__list__common__title__text-1 ul li a {
	padding: 15px 20px;
	margin-bottom: 20px;
	position: absolute;
	top: 10%;
	left: 0%;
}

.page-body-main__list__common__title__text .page-body-main__list__common__title__text-2 ul li a {
	padding: 15px 20px;
	margin-bottom: 20px;
	position: absolute;
	top: 3%;
	left: 0%;
}

/* ソーシャルボタン真ん中 */
/* 親要素を相対配置に設定 */
#page-body-main .page-body-main__list {
	position: relative;
}

.social-button-middle {
	font-size: 12px;
	color: #666666;
	display: flex;
	width: calc(20%);
	position: absolute;
	bottom: -90px;
	right: 80px;
}

.social-button-middle .icon-facebook,
.social-button-middle .icon-twitter,
.social-button-middle .icon-linkedin {
	padding:3px 3px 3px 15px;
	margin: 5px;
}

/* 企業情報リスト */
.page-body-main__global-navigation {
	text-align: left;
	clear:both;
}

.page-body-main__global-navigation h4 {
	border-top: 2px solid #333333;
	border-bottom: 1px dotted #999999;
	padding: 18px 0 30px 0;
	margin-top: 180px;
}

.page-body-main__global-navigation ul {
	text-align: left;
	border-bottom: 1px dotted #999999;
	padding-bottom: 30px;
}

/* floatして親要素の高さがなくなったので、clearfixで、高さを確保 */
.page-body-main__global-navigation ul:after{
	content: "";
	clear: both;
	display: block;
}

.page-body-main__global-navigation ul li {
	width: 220px;
	float: left;
	color: #0C419A;
	font-size: 14px;
	list-style: none;
	list-style-image: url("../02_images/icon-chevronRight.svg");
	box-sizing: border-box;
	padding: 10px;
}

.page-body-main__global-navigation ul li a{ 
	color: #0C419A;
	text-decoration: none;
	padding: 0;
	line-height: 1.429;
}

/* リンクバック */
/* マウスオーバーした時に下線を表示 */
.page-body-main__local-navigation__link-back ul li a {
	text-decoration: none;
	font-size: 16px;
	color: #0C419A;
	padding-left: 10px;
}
.page-body-main__local-navigation__link-back ul li a:hover{
	text-decoration: underline;
}
.page-body-main__local-navigation__link-back ul li {
	list-style: none;
	list-style-image: url("../02_images/icon-chevronLeft.svg");
}

/* ソーシャルボタン-C (Follow Us)*/
.page-body-main__local-navigation {
	margin: 80px 0 30px 0;
}

.social-button-bottom {
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
	padding: 10px 0;
	margin: 80px 0 50px 0;
	text-align:center;
	max-width:100%;
	background-size: cover;
}

.social-button-bottom p {
	color: #005BAC;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
}

.social-button-bottom .icon-facebook, 
.social-button-bottom .icon-twitter,
.social-button-bottom .icon-linkedin {
		display: inline-block;
		padding: 7px;
		margin: 10px;
}

/* ナレッジ・インサイト〜サイトマップ全体 */
.page-body-sub {
	margin: 0 140px 60px 140px;
}

.page-body-sub__springboard-a,
.page-body-sub__springboard-b,
.page-body-sub__springboard-c,
.page-body-sub__springboard-d,
.page-body-sub__springboard-e,
.page-body-sub__springboard-f,
.page-body-sub__springboard-g,
.page-body-sub__springboard-h,
.page-body-sub__springboard-i,
.page-body-sub__springboard-j,
.page-body-sub__springboard-k,
.page-body-sub__springboard-l {
	width: calc(25%);
	height: auto;
	padding: 0px 10px;
	box-sizing: border-box;
}

/* line-heightの調整 */
.page-body-sub__springboard-a-2 ul li a,
.page-body-sub__springboard-b-2 ul li a,
.page-body-sub__springboard-c-2 ul li a,
.page-body-sub__springboard-d-2 ul li a,
.page-body-sub__springboard-e-2 ul li a,
.page-body-sub__springboard-f-2 ul li a {
 	line-height: 2.5
}


/* Flexboxを使い、レイアウトを横並びにする */
.page-body-sub__springboard {
	display: flex;
	flex-wrap: wrap;
	margin: 0 140px;
}

/* マウスオーバーした時に下線を表示 */
.page-body-sub__springboard ul li:hover{
	text-decoration: underline;
}

/* 罫線を上下に設定 */
.page-body-sub__springboard-a-1,
.page-body-sub__springboard-b-1,
.page-body-sub__springboard-c-1,
.page-body-sub__springboard-d-1,
.page-body-sub__springboard-e-1,
.page-body-sub__springboard-f-1,
.page-body-sub__springboard-g-1,
.page-body-sub__springboard-h-1,
.page-body-sub__springboard-i-1,
.page-body-sub__springboard-j-1,
.page-body-sub__springboard-k-1,
.page-body-sub__springboard-l-1 {
	color: #666666;
	font-weight: bold;
	font-size: 16px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}

.page-body-sub__springboard-a-1 ul li a,
.page-body-sub__springboard-b-1 ul li a,
.page-body-sub__springboard-c-1 ul li a,
.page-body-sub__springboard-d-1 ul li a,
.page-body-sub__springboard-e-1 ul li a,
.page-body-sub__springboard-f-1 ul li a,
.page-body-sub__springboard-g-1 ul li a,
.page-body-sub__springboard-h-1 ul li a,
.page-body-sub__springboard-i-1 ul li a,
.page-body-sub__springboard-j-1 ul li a,
.page-body-sub__springboard-k-1 ul li a,
.page-body-sub__springboard-l-1 ul li a {
	padding: 12px 0;
	vertical-align: bottom;
}

/* リストスタイルを画像表示（>） */
.page-body-sub__springboard ul li {
	list-style: none;
	list-style-image: url("../02_images/icon-chevronRight.svg");
}

.page-body-sub__springboard ul li a{
	color: #999999;
	font-size: 14px;
	text-decoration: none;
}

/* ページフッター */
#page-footer {
	padding: 60px 0 66px 0;
	margin: 0 140px;
}

/* フッターのリスト */
/* 初期値で設定されているpadding-leftを解除 */
#page-footer .page-footer__main ul {
	padding-left: 0;
	margin: 0 12px 15px 12px;
}
#page-footer .page-footer__main ul li {
	font-size: 12px;
	color: #999999;
	list-style: none;
/* 	width: calc(14.0%); */
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 1.5;
	padding: 0 5px;
}

/* floatして親要素の高さがなくなったので、clearfixで、高さを確保 */
#page-footer .page-footer__main ul:after {
	content: "";
	clear: both;
	display: block;
}

/* リンク文字色を親要素に引き継ぎ、下線を消す */
#page-footer .page-footer__main ul li a{
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 0;
	margin: 0;
}
#page-footer .page-footer__main li a:before	{
	content:"|";
	display: inline-block;
	box-sizing: border-box;
	margin: 0px 15px 0px 0px;
}
#page-footer .page-footer__main li:first-child a:first-child:before {
		content: none; 
}

/* マウスオーバーした時に下線を表示 */
#page-footer .page-footer__main ul li a:hover{
	text-decoration: underline;
}

#page-footer .page-footer__main ul li:first-child {
	padding: 0 5px;
}

/* コピーライト */
#copyright small {
	font-size: 10px;
	color: #333333;
	line-height: 1.88;
	margin: 10px 10px 13px 0;
}

